* {
    margin: 0;
    padding: 0;
    list-style: none;
    font-family: 'Cinzel', serif;
    color: #01401C;
} 

body {
    background: #FFFEF7;
}

header {
    max-width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0px 20px;
}

ul {
    display: inline-flex;
}

li {
    margin: 0px 10px;
    font-size: 18px;
}

.logo h1 {
    font-size: 35px;
    font-weight: 100;
    font-family: 'Cinzel Decorative', serif;
}

.menu-options {
    display: flex;
    justify-content: center;
}

.menu-options img{
    width: 25px;
    margin-right: 2rem;
}

.main-banner {
    display: flex;
    justify-content: space-around;
    max-width: 100%;
    margin: 30px 40px;
}

.first-image-main,
.last-image-main {
    display: flex;
    width: 100%;
}

.first-image-main img,
.last-image-main img{
    width: 80%;
}

.first-image-main { 
    justify-content: flex-start;
    align-items: flex-start;
}

.second-image-main {
    align-items: center;
    justify-content: center;
}

.last-image-main {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 35px;
}

.aboutUs-banner {
    margin: 30px 0px;
    display: flex;
    width: 100%;
    max-height: 33rem;
}

.right-image {
    width: 40%;
}

.right-image img{
    width: 100%;
    height: 100%; 
    object-fit: cover; 
    object-position: center;
}

.aboutUs-information {
    width: 60%;
    background: #597053;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.aboutUs-information h2,
.aboutUs-information p {
    color: #FFFEF7;
    padding: 20px;
    margin-left: 85px;
}

.aboutUs-information h2 {
    font-size: 35px;
    width: 60%;
}

.aboutUs-information p {
    font-size: 22px;
    width: 80%;
}

.skinsCard-banner {
    max-width: 100%;
    display: flex;
    justify-content: space-around;
    margin: 60px 20px;
}

.oily-skin,
.mixed-skin,
.dry-skin {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.oily-skin img,
.mixed-skin img,
.dry-skin img {
    width: 95%;
    margin: 0 auto;
} 

.oily-skin h3,
.mixed-skin h3,
.dry-skin h3 {
    font-weight: 200;
    font-size: 24px;
    padding: 5px;
    font-family: 'Cinzel Decorative', serif;
}

.favorites-productsCarousel-banner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 35px;
    min-height: 80vh;
    flex-direction: column;
}

.favorites-productsCarousel-banner .title {
    width: 100%;
    text-align: left;
}

.favorites-productsCarousel-banner .title h2 {
    font-weight: 100;
    margin: 40px;
}

.productsCarousel-wrapper-container {
    max-width: 1200px;
    width: 100%;
    position: relative;
}

.productsCarousel-wrapper-container i {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.productsCarousel-wrapper-container i:first-child {
    left: -55px;
}

.productsCarousel-wrapper-container i:last-child {
    right: -55px;
}

.allProducts-carousel {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: calc((100% / 4) - 12px);
    gap: 50px;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.allProducts-carousel::-webkit-scrollbar {
    display: none;
}

.product {
    cursor: pointer;
    scroll-snap-align: start;
}

footer {
    margin-top: 50px;
    background: #012611;
}

.footerHeader-logo h1 {
    margin: 0px 20px;
    padding: 40px;
    font-size: 35px;
    font-weight: 100;
    font-family: 'Cinzel Decorative', serif;
    color: #FFFFFF;
}

.footerInformation-container {
    margin: 0px 20px;
    padding: 40px;
    display: flex;  
    justify-content: space-between;
}

.support-items h2,
.contact-items h2,
.more-items h2{
    color: #FFFFFF;
    font-weight: 600;
    font-size: 22px;
    margin: 10px 0px;
}

.support-items p,
.contact-items p{
    margin: 15px 0px;
    color: #FFFFFF;
}

.more-items .followUs img{
    margin: 10px 25px 25px 0px;

}

.more-items .payment-details img{
    margin-right: 5px;
}

.copyright {
    border-top: solid 1px #FFFFFF;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.copyright p {
    color: #FFFFFF;
    font-size: 18px;
    margin-left: 8px;
    font-family: 'Cinzel Decorative', serif;
}